html,
body {
  box-sizing: border-box;
  background-color: darkgoldenrod;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.video-header {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}
.video-header video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-and-form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63vw;
  height: 50vh;
}

h1 {
  font-family: 'Fascinate';
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

button {
  font-family: 'Roboto Slab';
  cursor: pointer;
  border: 1px dotted #333;
  border-radius: 20px;
  font-size: 0.7rem;
}

button#submit {
  font-size: 1.5rem;
  padding: 3px;
  width: 100px;
  height: 45px;
}

button:hover {
  background-color: cornsilk;
}

button:active {
  transform: scale(0.95);
}

input {
  font-family: 'Roboto Slab';
  border: 1px dotted #333;
  border-radius: 20px;
  width: 400px;
  height: 40px;
  font-size: 1.5rem;
  padding-left: 25px;
  margin-bottom: 15px;
}

input:focus,
button:focus {
  outline: none;
}

input:focus {
  background-color: cornsilk;
}

#form {
  text-align: center;
}

/* --------------------------------------- */

.content {
  font-family: 'Roboto Slab';
  min-height: 35vh;
  min-width: 100vw;
  background-color: #333;
  color: darkgoldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
}

#results {
  width: 100%;
  height: 100%;
}

ul.songs-and-artists-list {
  list-style-type: none;
}

ul.songs-and-artists-list li {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 40px;
}

ul.songs-and-artists-list li:nth-child(odd) {
  background-color: #373737;
}

button.get-lyrics-btn {
  font-size: 0.7rem;
  width: 70px;
  height: 25px;
  margin: 10px;
}

h5 {
  padding: 10px;
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 10px;
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 12vh;
}

footer p {
  color: #333;
}
/* ------------------------------------- */
/* media queries */

@media (max-width: 500px) {
  .video-header {
    position: relative;
    min-width: 103vw;
    height: 50vh;
    overflow: hidden;
  }

  h1 {
    font-family: 'Fascinate';
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }

  .header-and-form {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 73vw;
    height: 50vh;
  }
  input {
    display: block;
    font-family: 'Roboto Slab';
    border: 1px dotted #333;
    border-radius: 20px;
    width: 180px;
    height: 30px;
    font-size: 0.7rem;
    padding-left: 15px;
    margin: 10px;
  }

  button#submit {
    font-size: 0.7rem;
    padding: 3px;
    width: 75px;
    height: 30px;
  }

  ul.songs-and-artists-list li {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 40px;
  }

  h5 {
    font-size: 1rem;
  }

  .content {
    font-family: 'Roboto Slab';
    min-height: 35vh;
    min-width: 103vw;
    background-color: #333;
    color: darkgoldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 823px) {
  h1 {
    font-family: 'Fascinate';
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
  }

  input {
    display: block;
    font-family: 'Roboto Slab';
    border: 1px dotted #333;
    border-radius: 20px;
    width: 260px;
    height: 30px;
    font-size: 1rem;
    padding-left: 15px;
    margin: 5px;
  }

  button#submit {
    font-size: 0.7rem;
    padding: 3px;
    width: 100px;
    height: 32px;
  }

  h5 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 10px;
    text-align: center;
  }
}
